<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1" />
  <title>Listagem de Plantios</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <div class="container pt-5">
      <a th:href="@{/plantio/create}">Cadastrar Plantio</a>
      <h1>Listagem de Plantio</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Plantio</th>
            <th scope="col">Data de Colheita</th>
            <th scope="col">Quantidade de Sementes</th>
            <th scope="col">Produtividade</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="plantio : ${plantiosList}">
            <td th:text="${plantio.nome}"></td>
            <td th:text="${#temporals.format(plantio.dataPlantio, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(plantio.dataColheita, 'dd/MM/yyyy')}"></td>
            <td th:text="${plantio.quantidadeSementes}"></td>
            <td th:text="${plantio.produtividade}"></td>
            <td>
              <a th:href="@{/plantio/delete/{id}(id=${plantio.id})}">Deletar</a>
            </td>
            <td>
              <a th:href="@{/plantio/edit/{id}(id=${plantio.id})}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</body>

</html>