<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/../fragments/head :: head('Listar Plantio')}"></th:block>

<body>
  <div class="container">
    <th:block th:replace="~{/../fragments/head :: header}"></th:block>
    <div class="container">
      <h1>Listagem de Plantio</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Plantio</th>
            <th scope="col">Data de Colheita</th>
            <th scope="col">Quantidade de Sementes</th>
            <th scope="col">Produtividade</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="plantio : ${plantiosList}">
            <td th:text="${plantio.nome}"></td>
            <td th:text="${#temporals.format(plantio.dataPlantio, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(plantio.dataColheita, 'dd/MM/yyyy')}"></td>
            <td th:text="${plantio.quantidadeSementes}"></td>
            <td th:text="${plantio.produtividade}"></td>
            <td>
              <a th:href="@{/plantio/edit/{id}(id=${plantio.id})}">Editar</a>
            </td>
            <td>
              <a th:href="@{/plantio/delete/{id}(id=${plantio.id})}">Deletar</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a th:href="@{/plantio/create}">
          <button class="btn btn-primary">Cadastrar Produto</button>
        </a>
      </div>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>

</html>